#output{
    display: none;
}

.modal{
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    background-color: white;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    font-size: 24px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s, transform 0.4s;
    pointer-events: none;
}

.modal.active{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.hints{
    background-color: white;
    padding: 10px;
    position: absolute;
    border-radius: 10px;
    border: 1px solid;
    display: none;
    max-width: 400px;
    width: fit-content;
    z-index: 2;
}

.hints.hiden{
    display: none !important;
}

footer{
    background-color: white;
    border: 1px solid;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    margin-top: auto;
}

.footer-info{
    font-size: 18px;
}

.footer-data{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: end;
}

.footer__data-documentation{
    color: gold;
    font-size: 18px;
    transition: .4s;
}

.footer__data-documentation:hover{
    opacity: .7;
}

.footer__data-version{
    color: red;
    font-size: 18px;
    transition: .4s;
}

.footer__data-version:hover{
    opacity: .7;
}

.footer__data-version:visited{
    color: black;
}

.footer__data-date{
    font-size: 18px;
}

.footer__data-date:hover{
    opacity: .7;
}