*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans MS';
    user-select: none;
}

body{
    padding: 10px;
    display: flex;
    gap: 10px;
    background-image: url(../image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1920px;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 0;
}

.left{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.system{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    gap: 20px;
    overflow: hidden;
    background-color: white;
}

.system-info{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.system-info__hidden{
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    transition: .4s;
}

.system-info__hidden:hover{
    background-color: #2f2f2f;
    color: white;
}

.system-button{
    display: flex;
    gap: 20px;
}

.system-button__tech{
    font-size: 18px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    transition: .4s;
}

.system-button__tech:hover{
    background-color: #2f2f2f;
    color: white;
}

.system-file{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.system-file__button{
    font-size: 18px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    transition: .4s;
}

.system-file__button:hover{
    background-color: #2f2f2f;
    color: white;
}

.system-file__input{
    display: none;
}

.hot{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    overflow: hidden;
    background-color: white;
    height: 70px;
}

.hot-info{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hot-info__hidden{
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    transition: .4s;
}

.hot-info__hidden:hover{
    background-color: #2f2f2f;
    color: white;
}

.hot-description{
    font-size: 20px;
}

.hot-description span{
    font-size: 16px;
}

.spent{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    overflow: hidden;
    background-color: white;
    position: sticky;
    top: 20px;
    height: 70px;
}

.spent-info{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spent-info__hidden{
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    transition: .4s;
}

.spent-info__hidden:hover{
    background-color: #2f2f2f;
    color: white;
}

.spent-data{
    font-size: 18px;
}

.spent-title{
    font-size: 18px;
}

.mid{
    max-width: 1280px;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    padding: 25px 15px;
    background-color: white;
    transform: scaleY(1);
    transition: transform .4s;
    flex: 1;
}

.mid.deactive{
    transform: scaleY(0);
    width: 0;
    padding: 0;
    border: 0;
    flex: 0;
}

.mid.deactive div,
.mid.deactive span,
.mid.deactive input{
    opacity: 0;
}

.mid-info{
    display: flex;
    justify-content: space-between;
}

.mid-info__item{
    display: flex;
    gap: 5px;
    width: 31%;
    align-items: center;
}

.mid-info__item-title{
    font-size: 18px;
    cursor: pointer;
}

.mid-info__item-input{
    outline: none;
    border: none;
    padding: 0 5px;
    border-bottom: 1px solid;
    width: 100%;
    font-size: 18px;
    font-family: 'Segoe Script';
}

.mid-info__item-input.hidden{
    border: none;
}

.special{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.special-inspiration{
    display: flex;
    gap: 10px;
    font-size: 18px;
    cursor: pointer;
    align-items: center;
}

.special-inspiration input{
    width: 40px;
    height: 25px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: .4s;
    border-radius: 15px;
}

.special-inspiration input:hover{
    background-color: white;
}

.special-inspiration input.active{
    background-color: white;
}

.special-mana{
    display: flex;
    gap: 5px;
    width: 100%;
    align-items: center;
}

.special-mana__container{
    display: flex;
    gap: 5px;
    border: 1px solid;
    padding: 5px 10px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    min-height: 37px;
}

.special-mana__container-bonus{
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}

.special-mana__container svg{
    cursor: pointer;
}

.special-mana__container svg polygon{
    transition: .4s;
}

.special-mana__container svg.active polygon{
    fill: black;
}

.special-mana__button{
    border: 1px solid;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    height: fit-content;
    transition: .4s;
}

.special-mana__button:hover{
    background-color: #2f2f2f;
}

.special-mana__button svg line{
    transition: .4s;
}

.special-mana__button:hover svg line{
    stroke: white;
}

.special-mana__col{
    display: flex;
    gap: 5px;
    font-size: 18px;
    width: 300px;
}

.skills{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

.skills-item{
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    width: fit-content;
    width: 32%;
    cursor: pointer;
}

.skills-item__title{
    font-size: 18px;
}

.skills-item__square{
    display: flex;
    align-items: center;
}

.skills-item__square-main{
    width: 40px;
    height: 40px;
    border: 1px solid;
}

.skills-item__square-main.one{
    background-color: rgba(100, 40, 160, 1);
    border-radius: 5px 0 0 5px;
}

.skills-item__square-main.eight{
    background-color: rgba(100, 40, 160, 1);
    border-radius: 0 5px 5px 0;
}

.skills-item__square-main.two{
    background: rgba(120, 160, 210, 1);
}

.skills-item__square-main.seven{
    background: rgba(120, 160, 210, 1);
}

.skills-item__square-main.tree{
    background: rgba(50, 220, 190, 1);
}

.skills-item__square-main.six{
    background: rgba(50, 220, 190, 1);
}

.skills-item__square-main.phour{
    background: rgba(30, 180, 120, 1);
}

.skills-item__square-main.five{
    background: rgba(30, 180, 120, 1);
}

.skills-item__square-main.one div{
    border-radius: 3px 0 0 3px;
}

.skills-item__square-main.eight div{
    border-radius: 0 3px 3px 0;
}

.skills-item__square-main div{
    background: white;
    width: 100%;
    height: 100%;
    margin-left: auto;
    flex: 1;
}

.skills-item__square span{
    font-size: 28px;
    display: block;
    margin: auto;
}

.skills-item__numbers{
    display: flex;
    justify-content: center;
    gap: 5px;
    max-width: 320px;
}

.skills-item__numbers-right,
.skills-item__numbers-left{
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}

.skills-item__numbers-right.deactive,
.skills-item__numbers-left.deactive{
    pointer-events: none;
    cursor: default;
    opacity: .4;
}

.skills-item__numbers-right:hover,
.skills-item__numbers-left:hover{
    background-color: #2f2f2f;
}

.skills-item__numbers-left svg path,
.skills-item__numbers-right svg path{
    transition: .4s;
}

.skills-item__numbers-right:hover svg path,
.skills-item__numbers-left:hover svg path{
    stroke: white;
    
}

.skills-item__numbers-input{
    width: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    font-size: 18px;
    text-align: center;
}

.skills-item__numbers-divider{
    font-size: 18px;
}

.features{
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -15px;
    font-size: 18px;
    min-height: 148px;
    cursor: pointer;
}

.features textarea{
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
    padding: 5px;
    font-family: 'Segoe Script';
    font-size: 18px;
}

.features div{
    display: none;
    white-space: pre-wrap;
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    height: 100%;
}

.specifications-features{
    display: flex;
    gap: 10px;
}

.specifications{
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    margin-top: 10px;
}

.specifications-item{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    cursor: pointer;
}

.specifications-item__title{
    font-size: 18px;
    display: flex;
    align-items: center;
}

.specifications-item__numbers{
    display: flex;
    gap: 5px;
    margin-left: auto;
    align-items: center;
}

.specifications-item__numbers-right,
.specifications-item__numbers-left{
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.specifications-item__numbers-right:hover,
.specifications-item__numbers-left:hover{
    background-color: #2f2f2f;
}

.specifications-item__numbers-left svg path,
.specifications-item__numbers-right svg path{
    transition: .4s;
}

.specifications-item__numbers-right:hover svg path,
.specifications-item__numbers-left:hover svg path{
    stroke: white;   
}

.specifications-item__numbers-right.deactive,
.specifications-item__numbers-left.deactive{
    pointer-events: none;
    cursor: default;
    opacity: .4;
}

.specifications-item__numbers-input{
    width: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    font-size: 18px;
    text-align: center;
}

.specifications-item__numbers-divider{
    font-size: 18px;
}

.specifications-item__square{
    display: flex;
    align-items: center
}

.specifications-item__square-main{
    width: 40px;
    height: 40px;
    border: 1px solid;
}

.specifications-item__square-main.one{
    background-color: rgba(100, 40, 160, 1);
    border-radius: 5px 0 0 5px;
}

.specifications-item__square-main.ten{
    background-color: rgba(100, 40, 160, 1);
    border-radius: 0 5px 5px 0;
}

.specifications-item__square-main.two{
    background: rgba(120, 160, 210, 1);
}

.specifications-item__square-main.nine{
    background: rgba(120, 160, 210, 1);
}

.specifications-item__square-main.tree{
    background: rgba(50, 220, 190, 1);
}

.specifications-item__square-main.eight{
    background: rgba(50, 220, 190, 1);
}

.specifications-item__square-main.phour{
    background: rgba(30, 180, 120, 1);
}

.specifications-item__square-main.seven{
    background: rgba(30, 180, 120, 1);
}

.specifications-item__square-main.five{
    background: rgba(40, 30, 100, 1);
}

.specifications-item__square-main.six{
    background: rgba(40, 30, 100, 1);
}


.specifications-item__square-main.one div{
    border-radius: 3px 0 0 3px;
    width: 0;
}

.specifications-item__square-main.eight div{
    border-radius: 0 3px 3px 0;
}

.specifications-item__square-main div{
    background: white;
    width: 100%;
    height: 100%;
    margin-left: auto;
}

.specifications-item__square span{
    display: none;
}

.specifications-item__square advantage{
    font-size: 28px;
    display: block;
    margin-left: 10px;
    width: 30px;
}

.abilities{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    cursor: pointer;
}

.abilities textarea{
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
    padding: 5px;
    font-family: 'Segoe Script';
    font-size: 18px;
}

.abilities div{
    display: none;
    white-space: pre-wrap;
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    height: 100%;
}

.beauty{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.beauty textarea{
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
    padding: 5px;
    font-family: 'Segoe Script';
    font-size: 18px;
}


.beauty div{
    display: none;
    white-space: pre-wrap;
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    height: 100%;
}

.mid-second{
    background-color: white;
    transform: scaleX(0);
    transition:transform .4s;
    max-width: 1280px;
    border-radius: 10px;
    width: 0;
    height: fit-content;
    flex: 0;
}

.mid-second div,
.mid-second span,
.mid-second input{
    opacity: 0;
}

.mid-second.active{
    transform: scaleX(1);
    width: 100%;
    border: 1px solid;
    padding: 15px 15px 25px;
    flex: 1;
}

.mid-second.active div,
.mid-second.active span,
.mid-second.active input{
    opacity: 1;
}

.mid-second__info{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.mid-second__info-item{
    display: flex;
    gap: 5px;
    width: 31%;
    align-items: center;
    position: relative;
}

.second-info__item-title{
    font-size: 18px;
    cursor: pointer;
}

.second-info__item-input{
    outline: none;
    border: none;
    padding: 0 5px;
    border-bottom: 1px solid;
    width: 100%;
    font-size: 18px;
    font-family: 'Segoe Script';
}

.second-info__item-input.hidden{
    border: none;
}

.mid-second__info-item input[type="color"]{
    position: absolute;
    width: 0;
    height: 0;
    border: none;
    bottom: 0;
}

.mid-second__info.two .mid-second__info-item{
    width: fit-content;
}

.mid-second__info.two .mid-second__info-item:nth-child(2){
    width: 100%;
}

.second-info__item-title[for="birth"]{
    width: 136px;
}

#birth{
    width: 50%;
}

.mid-character{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 170px;
}

.mid-character.background{
    height: 300px;
}

.mid-character__title{
    font-size: 18px;
    cursor: pointer;
}

.mid-character__text{
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
    padding: 5px;
    font-family: 'Segoe Script';
    font-size: 18px;
}

.mid-character div{
    display: none;
    white-space: pre-wrap;
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    height: 100%;
}

.second-info__item-color{
    width: 42px;
    height: 30px;
    border: 1px solid;
    border-radius: 100px;
}

.right{
    max-width: 190px;
    width: 100%;
    flex: 1;
}

.right-container{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 10px;
    gap: 10px;
}

.right-container__button{
    width: 100%;
    border: 1px solid;
    background-color: white;
    cursor: pointer;
    transition: .4s;
    padding: 20px 5px;
    border-radius: 10px;
    text-align: center;
}

.right-container__button:hover{
    background-color: #2f2f2f;
    color: white;
}

a.right-container__button{
    text-decoration: none;
    color: black;
}

#output{
    display: none;
}

.modal{
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    background-color: white;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    font-size: 24px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s, transform 0.4s;
    pointer-events: none;
}

.modal.active{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.hints{
    background-color: white;
    padding: 10px;
    position: absolute;
    border-radius: 10px;
    border: 1px solid;
    display: none;
    max-width: 400px;
    width: fit-content;
}

.hints.hiden{
    display: none !important;
}

footer{
    background-color: white;
    border: 1px solid;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.footer-info{
    font-size: 18px;
}

.footer-date{
    font-size: 18px;
}

.footer-version{
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.footer-version:visited{
    color: black;
}
