.master{
    position: fixed;
    top: 20px;
    right: 5px;
    background-color: white;
    background: white;
    top: 5px;
    border-radius: 10px;
    border: 1px solid;
    transition: .4s;
    display: none;
    padding: 30px;
    max-width: 350px;
}

.master.active{
    display: block;
}

.master-top{
    display: flex;
    gap: 10px;
    align-items: center;
}

.master-title{
    font-size: 18px;
}

.master-alert,
.master-text,
.master-succes{
    font-size: 16px;
    display: block;
}

.master-alert{
    color: red;
}

.master-succes{
    color: green;
}

.master-succes a{
    color: green;
}

.master-button{
    font-size: 18px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    transition: .4s;
    margin-top: 10px;
}
