.mid{
    max-width: 1280px;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    padding: 25px 15px;
    background-color: white;
    transform: scaleY(1);
    transition: transform .4s;
    flex: 1;
    height: fit-content;
}

.mid.deactive{
    transform: scaleY(0);
    width: 0;
    padding: 0;
    border: 0;
    flex: none;
    height: 0;
    position: absolute;
}

.mid.deactive div,
.mid.deactive span,
.mid.deactive input{
    opacity: 0;
}

.mid-info{
    display: flex;
    justify-content: space-between;
}

.mid-info__item{
    display: flex;
    gap: 5px;
    width: 24%;
    align-items: center;
}

.mid-info__item-title{
    font-size: 18px;
    cursor: pointer;
}

.mid-info__item-input{
    outline: none;
    border: none;
    padding: 0 5px;
    border-bottom: 1px solid;
    width: 100%;
    font-size: 18px;
    font-family: 'Segoe Script';
}

.mid-info__item-input.hidden{
    border: none;
}

.personality{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 18px;
}

.personality-health.takeShot,
.personality-healthy.takeShot,
.personality-armor.takeShot,
.personality-evasion.takeShot,
.personality-initiative.takeShot{
    padding-bottom: 45px;
}

.personality-health,
.personality-healthy,
.personality-armor,
.personality-evasion,
.personality-initiative{
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid;
    padding: 10px 35px;
    position: relative;
}

.personality-health__container,
.personality-healthy__container,
.personality-armor__container,
.personality-evasion__container,
.personality-initiative__container{
    display: flex;
    gap: 10px;
}

.personality-health__container input,
.personality-healthy__container input,
.personality-armor__container input,
.personality-evasion__container input,
.personality-initiative__container input{
    border: none;
    outline: none;
    border-bottom: 1px solid;
    width: 50px;
    font-size: 22px;
    font-family: 'Segoe Script';
    text-align: center;
    border-color: black;
    pointer-events: none;
}

.personality-health__container-left,
.personality-health__container-right,
.personality-healthy__container-left,
.personality-healthy__container-right,
.personality-armor__container-left,
.personality-armor__container-right,
.personality-evasion__container-left,
.personality-evasion__container-right,
.personality-initiative__container-left,
.personality-initiative__container-right{
    border: 1px solid;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    height: fit-content;
    transition: .4s;
}

.personality-health__container-left:hover,
.personality-health__container-right:hover,
.personality-healthy__container-left:hover,
.personality-healthy__container-right:hover,
.personality-armor__container-left:hover,
.personality-armor__container-right:hover,
.personality-evasion__container-left:hover,
.personality-evasion__container-right:hover,
.personality-initiative__container-left:hover,
.personality-initiative__container-right:hover{
    background-color: #2f2f2f;
}

.personality-health__container-left svg line,
.personality-health__container-right svg line,
.personality-healthy__container-left svg line,
.personality-healthy__container-right svg line,
.personality-armor__container-left svg line,
.personality-armor__container-right svg line,
.personality-evasion__container-left svg line,
.personality-evasion__container-right svg line,
.personality-initiative__container-left svg line,
.personality-initiative__container-right svg line{
    transition: .4s;
}

.personality-health__container-left:hover svg line,
.personality-health__container-right:hover svg line,
.personality-healthy__container-left:hover svg line,
.personality-healthy__container-right:hover svg line,
.personality-armor__container-left:hover svg line,
.personality-armor__container-right:hover svg line,
.personality-evasion__container-left:hover svg line,
.personality-evasion__container-right:hover svg line,
.personality-initiative__container-left:hover svg line,
.personality-initiative__container-right:hover svg line{
    stroke: white;
}

.personality-healthy__healt{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.personality-healthy__healt path{
    transition: .4s;
}

.personality-healthy__healt:hover path{
    fill: red;
}

.personality-hidden.active{
    display: none;
}

.special{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.special-inspiration{
    display: flex;
    gap: 10px;
    font-size: 18px;
    cursor: pointer;
    align-items: center;
}

.special-inspiration input{
    width: 40px;
    height: 25px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: .4s;
    border-radius: 15px;
    font-family: 'Segoe Script';
}

.special-inspiration input:hover{
    background-color: white;
}

.special-inspiration input.active{
    background-color: white;
}

.special-mana{
    display: flex;
    gap: 5px;
    width: 100%;
    align-items: center;
}

.special-mana__container{
    display: flex;
    gap: 5px;
    border: 1px solid;
    padding: 5px 10px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    min-height: 37px;
}

.special-mana__container-bonus{
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}

.special-mana__container svg{
    cursor: pointer;
}

.special-mana__container svg polygon{
    transition: .4s;
}

.special-mana__container svg.active polygon{
    fill: black;
}

.special-mana__button{
    border: 1px solid;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    height: fit-content;
    transition: .4s;
}

.special-mana__button.deactive{
    display: none;
}

.special-mana__button:hover{
    background-color: #2f2f2f;
}

.special-mana__button svg line{
    transition: .4s;
}

.special-mana__button svg polygon{
    transition: .4s;
}

.special-mana__button:hover svg line{
    stroke: white;
}

.special-mana__button.restore:hover{
    background-color: white;
}

.special-mana__button.restore:hover svg polygon{
    fill: black;
}

.special-mana__col{
    display: flex;
    gap: 5px;
    font-size: 18px;
    width: 335px;
}

.skills{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

.skills-item{
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    width: fit-content;
    width: 32%;
    cursor: pointer;
    position: relative;
}

.skills-item__title{
    display: flex;
    gap: 10px;
}

.skills-item__title-text{
    font-size: 18px;
}

.skills-item__title svg path{
    transition: .4s;
}

.skills-item__title svg:hover path{
    fill: lightgreen;
}

.skills-item__square{
    display: flex;
    align-items: center;
}

.skills-item__square-main{
    width: 40px;
    height: 40px;
    border: 1px solid;
}

.skills-item__square-main.one{
    background-color: rgba(100, 40, 160, 1);
    border-radius: 5px 0 0 5px;
}

.skills-item__square-main.eight{
    background-color: rgba(65, 110, 140, 1);
    border-radius: 0 5px 5px 0;
}

.skills-item__square-main.two{
    background-color: rgba(120, 100, 185, 1);
}

.skills-item__square-main.seven{
    background-color: rgba(30, 180, 120, 1);
}

.skills-item__square-main.tree{
    background-color: rgba(120, 160, 210, 1);
}

.skills-item__square-main.six{
    background-color: rgba(40, 200, 150, 1);
}

.skills-item__square-main.phour{
    background-color: rgba(85, 190, 200, 1);
}

.skills-item__square-main.five{
    background-color: rgba(50, 220, 190, 1);
}

.skills-item__square-main.one div{
    border-radius: 4px 0 0 4px;
}

.skills-item__square-main.eight div{
    border-radius: 0 4px 4px 0;
}

.skills-item__square-main div{
    background: white;
    width: 100%;
    height: 100%;
    margin-left: auto;
    flex: 1;
}

.skills-item__square span{
    font-size: 28px;
    display: block;
    margin: auto;
}

.skills-item__numbers{
    display: flex;
    justify-content: center;
    gap: 5px;
    max-width: 320px;
}

.skills-item__numbers-right,
.skills-item__numbers-left{
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    width: 26px;
}

.skills-item__numbers-right.deactive,
.skills-item__numbers-left.deactive{
    pointer-events: none;
    cursor: default;
    opacity: .4;
}

.skills-item__numbers-right:hover,
.skills-item__numbers-left:hover{
    background-color: #2f2f2f;
}

.skills-item__numbers-left svg path,
.skills-item__numbers-right svg path{
    transition: .4s;
}

.skills-item__numbers-right:hover svg path,
.skills-item__numbers-left:hover svg path{
    stroke: white;
    
}

.skills-item__numbers-input{
    width: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    font-size: 18px;
    text-align: center;
}

.skills-item__numbers-divider{
    font-size: 18px;
}

.skills-item__favourites{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid;
    cursor: pointer;
    right: 10px;
    transition: .4s;
}

.skills-item__favourites:hover{
    background-color: #2f2f2f;
}

.skills-item__favourites svg{
    transition: .4s;
}

.skills-item__favourites svg:hover{
    stroke: gold;
    fill: white;
}

.skills-item__favourites.active svg{
    fill: gold;
}

.features{
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -15px;
    font-size: 18px;
    min-height: 148px;
    cursor: pointer;
}

.features textarea{
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
    padding: 5px;
    font-family: 'Segoe Script';
    font-size: 18px;
}

.features div{
    display: none;
    white-space: pre-wrap;
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    height: 100%;
    font-family: 'Segoe Script';
    font-size: 18px;
}

.specifications-features{
    display: flex;
    gap: 10px;
}

.specifications{
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    margin-top: 10px;
}

.specifications-item{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    padding-right: 30px;
    align-items: center;
}

.specifications-item__title{
    font-size: 18px;
    display: flex;
    align-items: center;
}

.edit-specification path{
    transition: .4s;
}

.edit-specification:hover path{
    fill: lightgreen
}

.specifications-item__numbers{
    display: flex;
    gap: 5px;
    margin-left: auto;
    align-items: center;
}

.specifications-item__numbers-right,
.specifications-item__numbers-left{
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.specifications-item__numbers-right:hover,
.specifications-item__numbers-left:hover{
    background-color: #2f2f2f;
}

.specifications-item__numbers-left svg path,
.specifications-item__numbers-right svg path{
    transition: .4s;
}

.specifications-item__numbers-right:hover svg path,
.specifications-item__numbers-left:hover svg path{
    stroke: white;   
}

.specifications-item__numbers-right.deactive,
.specifications-item__numbers-left.deactive{
    pointer-events: none;
    cursor: default;
    opacity: .4;
}

.specifications-item__numbers-input{
    width: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    font-size: 18px;
    text-align: center;
}

.specifications-item__numbers-divider{
    font-size: 18px;
}

.specifications-item__square{
    display: flex;
    align-items: center
}

.specifications-item__square-main{
    width: 40px;
    height: 40px;
    border: 1px solid;
}

.specifications-item__square-main.one{
    background-color: rgba(255, 0, 150, 1);
    border-radius: 5px 0 0 5px;
}

.specifications-item__square-main.ten{
    background-color: rgba(255, 0, 200, 1);
    border-radius: 0 5px 5px 0;
}

.specifications-item__square-main.two{
    background-color: rgba(255, 80, 120, 1);
}

.specifications-item__square-main.nine{
    background-color: rgba(200, 0, 255, 1);
}

.specifications-item__square-main.tree{
    background-color: rgba(255, 120, 60, 1);
}

.specifications-item__square-main.eight{
    background-color: rgba(100, 0, 255, 1);
}

.specifications-item__square-main.phour{
    background-color: rgba(255, 180, 0, 1);
}

.specifications-item__square-main.seven{
    background-color: rgba(0, 150, 255, 1);
}

.specifications-item__square-main.five{
    background-color: rgba(180, 200, 0, 1);
}

.specifications-item__square-main.six{
    background-color: rgba(0, 200, 180, 1);
}

.specifications-item__square-main.one div{
    border-radius: 5px 0 0 5px;
    width: 0;
}

.specifications-item__square-main.ten div{
    border-radius: 0 4px 4px 0;
}

.specifications-item__square-main div{
    background: white;
    width: 100%;
    height: 100%;
    margin-left: auto;
}

.specifications-item__square span{
    display: none;
}

.specifications-item__square advantage{
    font-size: 28px;
    display: block;
    margin-left: 10px;
    width: 30px;
}

.specifications-item__favourites{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid;
    cursor: pointer;
    right: 0;
    transition: .4s;
    transform: translate(0, -50%);
    top: 50%;
}

.specifications-item__favourites:hover{
    background-color: #2f2f2f;
}

.specifications-item__favourites svg{
    transition: .4s;
}

.specifications-item__favourites svg:hover{
    stroke: gold;
    fill: white;
}

.specifications-item__favourites.active svg{
    fill: gold;
}

.abilities{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    cursor: pointer;
}

.abilities textarea{
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
    padding: 5px;
    font-family: 'Segoe Script';
    font-size: 18px;
}

.abilities div{
    display: none;
    white-space: pre-wrap;
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    height: 100%;
    font-family: 'Segoe Script';
    font-size: 18px;
}

.beauty{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.beauty textarea{
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
    padding: 5px;
    font-family: 'Segoe Script';
    font-size: 18px;
}


.beauty div{
    display: none;
    white-space: pre-wrap;
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    height: 100%;
    font-family: 'Segoe Script';
    font-size: 18px;
}
