*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans MS';
    user-select: none;
}

body{
    padding: 10px;
    display: flex;
    gap: 10px;
    background-image: url(../image/backroundWinter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1920px;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 0;
    max-height: 100vh;
    position: relative;

}
