.randomizer{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    max-width: 740px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.randomizer label{
    position: relative;
    display: flex;
}

.randomizer label input{
    outline: none;
    border: none;
    padding: 0 5px;
    border-bottom: 1px solid;
    width: 100%;
    font-size: 18px;
    font-family: 'Segoe Script';
}

label[for="race"] .select{
    position: absolute;
    left: 37px;
    background: white;
    padding: 10px;
    border: 1px solid;
    top: 30px;
    width: calc(100% - 37px);
    transform-origin: top;
    transform: scaleY(0);
    transition: .4s;
    z-index: 10;
    max-height: 600px;
    overflow-y: auto;
    border-top: 0;
}

label[for="race"] .select.active{
    transform: scaleY(1);
}

label[for="race"] div .option{
    cursor: pointer;
    transition: .4s;
}

label[for="race"] div .option:hover{
    opacity: .7;
}

label[for="archetype"] .select{
    position: absolute;
    left: 72px;
    background: white;
    padding: 10px;
    border: 1px solid;
    top: 30px;
    width: calc(100% - 72px);
    transform-origin: top;
    transform: scaleY(0);
    transition: .4s;
    z-index: 9;
    max-height: 600px;
    overflow-y: auto;
    border-top: 0;
}

label[for="archetype"] .select.active{
    transform: scaleY(1);
}

label[for="archetype"] div .option{
    cursor: pointer;
    transition: .4s;
}

label[for="archetype"] div .option:hover{
    opacity: .7;
}

label[for="group"] .select{
    position: absolute;
    left: 61px;
    background: white;
    padding: 10px;
    border: 1px solid;
    top: 30px;
    width: calc(100% - 61px);
    transform-origin: top;
    transform: scaleY(0);
    transition: .4s;
    z-index: 8;
    max-height: 600px;
    overflow-y: auto;
    border-top: 0;
}

label[for="group"] .select.active{
    transform: scaleY(1);
}

label[for="group"] div .option{
    cursor: pointer;
    transition: .4s;
}

label[for="group"] div .option:hover{
    opacity: .7;
}

.randomizer-button{
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    transition: .4s;
    text-align: center;
    margin-top: 20px;
}

.randomizer-button:hover{
    background-color: #2f2f2f;
    color: white;
}
